/*  targeted Selectors
        Descendant Selector
        child Selector
    Style By Attribute
    Special Attribute
    Pseudo Selectors
        first-child
        last-child
        nth-child
    Before & After Pseudo */

p{
    background-color: orange;
}

/* descendant selector */
div p{
    background-color: greenyellow;
}
/* child selector 
หา p ที่เป็น child ของ div*/
div>p{
    background-color: aquamarine;
}