a{
    background-color: orange;
}
/* Style By Attribute 
เลือกปรับแต่ง tag a ที่มี attribute target*/
a[target]{
    background-color: red;
    color: white;
}
a[target='_blank']{
    background-color: aqua;
}
a[target='_self']{
    background-color: blueviolet;
}
input[type='email'] , input[type='text']{
    width: 50%;
    margin-bottom: 5px;
}
input[type='submit']{
    background-color: red;
    color: white;
    border-radius: 10px;
}